:root {
    --primary-color: #17a2b8;
    --secondary-color: #21649e;
    --accent-color: #d0d0d0;
    --dark-color: #2e2e2e;
    --light-color: #F1F1F1;
}

* {
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    height: calc(100vh - 200px);
    justify-content: center;
}

.card {
    border: 1px solid var(--accent-color);
    width: 600px;
}

.card-header {
    background-color: var(--primary-color);
    height: 80px;
    position: relative;
}

.profile,
.profile > i {
    align-items: center;
    background-color: var(--light-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.profile {
    height: 80px;
    left: 20px;
    position: absolute;
    top: 40px;
    width: 80px;
}

.profile > i {
    border: 4px solid var(--dark-color);
    font-size: 3rem;
    height: 70px;
    width: 70px;
}

.card-body {
    padding: 40px 20px 5px;
}

.card-title {
    font-size: 1.6rem;
    padding: .2em 0 0;
}

.card-subtitle {
    padding: .4em 0;
}

.card-footer {
    padding: 5px 20px 20px;
}

.card-cta {
    text-decoration: none;
}

.card-cta i,
.card-cta span {
    color: var(--secondary-color);
    padding: .3em 0;
}

.card-cta span {
    padding-left: 2px;
    text-decoration: underline;
}